{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="post" enctype="multipart/form-data">  <!--action="/accounts/profile/imageupload/"-->
        {% csrf_token %}
        {{ form|crispy }}
        <!-- {{ form.as_p }}  -->
        <!--<input type="submit" value="Upload"> --> 
        <button type="submit" class="btn btn-dark">Upload</button>
    </form>

    {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.title}}</h3>
    <img src="{{ img_obj.image.url }}" alt="connect" style="max-height:300px">
    {% endif %}


<p> <pre> <a href="{% url 'courses:account-profile' %}">    Back to your profile </a> </pre> </p>

{% endblock content %}
