{% extends "base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <h1>Shopping cart</h1>
  <table class="cart">   <!--cart-->
    <thead>
      <tr>
        <th>Image</th>
        <th>Course</th>
        <!--<th>Quantity</th> -->
        <th>Remove</th>
        <!--<th>Item price</th> -->
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with course=item.course %}
          <tr>
            <td>
              <a href="{{ course.get_absolute_url }}">
                <img src="{% if course.image %}{{ course.image.url }}{% else %}{% static 'no_image.png' %}{% endif %}" 
                  class="img-fluid" style="width:50px;hight=50px;">
              </a>
            </td>
            <td><h4>{{ course.title }}</h4></td>
            <!--<td>
              <form action="{% url 'cart:cart_add' course.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td> -->
            <td>
              <form action="{% url 'cart:cart_remove' course.id %}" method="post">
                <input type="submit" value="Remove">  <!--class="img-fluid" style="width:30%"-->
                {% csrf_token %}
              </form>
            </td>
            <td>${{ item.price }}</td>  <!-- class="num" -->
            <!--<td class="num">${{ item.total_price }}</td> -->
          </tr>
        {% endwith %}
      {% endfor %}
      {% if cart.coupon %}
        <tr class="subtotal">
          <td>Subtotal</td>
          <td colspan="4"></td>
          <td class="num">${{ cart.get_total_price|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            "{{ cart.coupon.code }}" coupon
            ({{ cart.coupon.discount }}% off)
          </td>
          <td colspan="4"></td>
          <td class="num neg">
            - ${{ cart.get_discount|floatformat:2 }}
          </td>
        </tr>
      {% endif %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">
          ${{ cart.get_total_price_after_discount|floatformat:2 }}
        </td>
      </tr>
    </tbody>
  </table>

  <p>Apply a coupon:</p>
  <form action="{% url 'coupons:apply' %}" method="post">
    {{ coupon_apply_form }}
    <input type="submit" value="Apply">
    {% csrf_token %}
  </form>

  <p class="text-right">
    <a href="{% url 'courses:course_list' %}" class="button light">Continue shopping</a>
    <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
  </p>
{% endblock %}